* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 650px;
    background: rgba(255, 255, 255, 0.1);;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
   
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
h5 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

#taskInput {
    flex: 1;
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

#taskInput:focus {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#addBtn {
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#clearBtn {
    padding: 15px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #a83232 0%, #d46b6b 100%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#addBtn:hover,
#clearBtn:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.127);
}

#addBtn:active,
#clearBtn:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: left;
}

.filter-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.filter-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

.filter-btn:active {
    background: white;
    color: #667eea;
    transform: translateY(0);
}

#taskList {
    list-style: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
}

.task-item {
    background: rgba(255, 255, 255, 0.95);
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.task-item:hover {
    transform: translateX(5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.task-item.completed {
    opacity: 0.8;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    color: #999;
}

.checkbox {
    width: 24px;
    height: 24px;
    min-width: 24px;
    border: 2px solid #667eea;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.checkbox.checked {
    background: #66733a;
}

.checkbox.checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.task-text {
    flex: 1;
    color: #333;
    font-size: 1rem;
}

.delete-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background: #ff6b6b;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}
.delete-btn:hover {
    background: #ff5252;
    transform: scale(1.05);
}
.delete-btn:active {
    background: #ff3b3b;
    transform: scale(1);
}
.stats {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.empty-state {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 40px 20px;
    font-size: 18px;
}